.rescon{
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    background-color: rgb(226, 214, 214);
    /*background-color: red;*/
    /*width: auto;*/
    
    
}

.rescon2{
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(226, 214, 214);
    /*background-color: red;*/
    width: auto;
    padding: 50px;
    background-image: url('cookbook-2021.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;  
    
}

.rescon3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*flex-direction: row;*/
    align-items: center;
    justify-content: center;
    background-color: rgb(226, 214, 214);
    /*background-color: red;*/
    /*width: auto;*/
    padding: 50px;
    background-image: url('cookbook-2021.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;  
    
    
}


.rescon4{
    display: flex;
    /*flex-wrap: wrap;*/
    /*flex-direction: column;*/
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    background-image: url('cookbook-2021.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;  
    font-family: cursive;
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 10px;
    
}

.rescon5{
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: auto;
    /*padding: 50px;*/
    background-image: url('cookbook-2021.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;  
    font-family: cursive;
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.rescon-home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*flex-direction: row;*/
    align-items: center;
    justify-content: center;
    /*width: auto;*/
    /*padding: 50px;*/
    background-image: url('cookbook-2021.png');
    background-position: center;
    background-repeat: repeat;
    background-size: 50%;  
    font-family: cursive;
    font-weight: bolder;
    padding-left: 10px;
    padding-top: 10px;
    overflow: hidden;
    margin-top: 25px;
    /*text-overflow: ellipsis;*/
    
}

.homepic{

    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    size: cover;


}

.title{

    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    
    
    
}

.homeicon{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    
}



body{
    background-color: rgb(226, 214, 214);
    background-image: url('cookbook-2021.png');
    background-position: center;
    background-repeat: repeat;
    /*background-size: cover;*/
    background-size: 50%;
    
    
    
    
}

ul{
    /*background-color: rgb(241, 236, 236);*/
    background-color: rgb(238, 237, 224);
    
}

.text1{
    display:flex;
    width: 80vh;
    /*margin: 0px 490px 0px 120px;*/
    line-height: 25px;
    text-align: left;
    resize: none;
    border:none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

